<style type="text/css">
	.footer_bj {
		width: 100%;
		height: 244px;
		background: #e6212a;
		/*position: relative;*/
	}
	.boostap_right {
		width: 300px;
		height: 238px;
		/*position: absolute;
		top: 0;
		right: 0*/
		margin-top: -240px;
		float: right;
		    margin-right: -100px;
	}
	.boostap_right img{
		width: 100%;
		height: 100%
	}
	.Copyright {
		width: 100%;
	    height: 50px;
	    text-align: center;
	    font-size: 18px;
	    font-weight: 400;
	    font-stretch: normal;
	    line-height: 50px;
	    letter-spacing: 0;
	    color: #000;
	}
	.ghz,.jmdh {
	    height: 244px;
	    line-height: 244px;
	    font-size: 18px;
	    color: #fff;
	}
	.ghz {
		padding-right: 20px
	}
	.ewm img{
		margin-left: 80px;
	    width: 45%;
    	margin-top: 41px;
	}
	.ghz span{
		float: right;
    	margin-right: -90px;
	}
	.jmdh span{
		float: left;
    	margin-left:-122px;
	}
</style>
<div class="container-default">
	<div class="footer_bj">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 ghz"><span>微信公众号</span></div>
				<div class="col-lg-4 ewm"><img src="http://www.qdama.cn/static/img/qrcode.8b36273.png"></div>
				<div class="col-lg-4 jmdh"><span>加盟热线：400-628-5880</span></div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="boostap_right"><img src="http://www.qdama.cn/static/img/fruits.f36480c.png"></div>
	</div>
	<div class="Copyright">
      Copyright2019快步版权所有All Rights Reserved.｜粤ICP备14040184号
    </div>
</div>
</body>
</html>